<h1>Create a restaurant</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Go back", restaurants_path, class: "btn btn-primary"%>
