<h1><%= @restaurant.name %></h1>
<p><%="Address is #{@restaurant.address} "%></p>
<p><%= "Phone number #{@restaurant.phone_number}" %></p>
<p><%="Category #{@restaurant.category}" %></p>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
<%= link_to "Go back", restaurants_path, class: "btn btn-primary"%>

<h1>Create a review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
<br>
<%= link_to "Go back", restaurants_path, class: "btn btn-primary"%>
